.App{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 300px;
    padding: 20px;
    width: 600px;

    border-radius: 40px;
    border: #851965c9 solid 23px;
    background-color: #9b1d75c9;
    color: aliceblue;

    font-family: 'Times New Roman', Times, serif; 
}

